@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');

.msg{
    display: flex;
    flex-direction: column;
    height: auto;
    width: fit-content;
    max-width: 40vw;
    background-color: rgb(42, 23, 43);
    padding: 8px;
    margin: 10px;
    border-radius:20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    box-shadow: 1px 1px 3px 0.2px #1f1e1e;
    opacity: 0;
}

p{
    margin: 2px;
}



#animatedEl{
    animation: slide 600ms 1 4s forwards ease-in ;
}

@keyframes slide{
    0%{
        
    }
    100%{
        opacity: 1;
    }
}